<a href="https://colab.research.google.com/github/thumindu007/python-projs/blob/main/!!!!!!!_and_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("what is the number you want to find the factorial of? "))
x = n
factorial = n
while x > 1: 
  x = x - 1
  factorial = factorial * x
print(factorial)

what is the number you want to find the factorial of?9
362880

In [6]:
multi = int(input("what is the number you want to find the times table? "))
n = 1
for counter in range(0,12):
  sum = n * multi
  print(n ,"*", multi ,"=", sum)
  n = n + 1

what is the number you want to find the times table12
1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120
11 * 12 = 132
12 * 12 = 144